%table.table.table-striped
  %thead
    %tr
      %td Title
      %td Labels
      %td Working
  %tbody
    - issues.each do |issue|
      = render 'issues/issue_row', :issue => issue
= will_paginate issues, :renderer => BootstrapPaginationRenderer, :param_name => paginate_param