%table.table.table-striped
  %tbody
    - issues.each do |issue|
      = render 'issues/my_issue_row', :issue => issue
= will_paginate issues, :renderer => BootstrapPaginationRenderer, :param_name => :my_issues_page