- if @count > 1
  .alert.alert-success.text-center.col-lg-3.pull-right
    %i.icon-bug
    %strong= @count
    %span issues closed!
%h1 Bugmash Leaderboard
%table.table.table-striped
  %tbody
    - @users.each do |user|
      %tr
        %td
          = avatar(user)
          %strong= user.name
        %td
          = user.done_issues
