.jumbotron.text-center
  %h1
    Rails Bugmash
    %i.icon-bug
    TLV
    %small (30/08)
  %h2 Come code with us and solve some issues in Rails
  = link_to sign_in_path, :class => 'btn btn-primary btn-lg' do
    %i.icon-github
    %span Sign In to Start